/* Footer styling */
.footer {
    background-color: #333; /* Dark background color */
    color: #fff; /* White text color */
    padding: 20px 0; /* Padding around the footer */
    text-align: center; /* Center text alignment */
  }
  
  .footer p {
    text-align: center;
    margin: 10; /* Remove default margin */
    font-size: 14px; /* Font size for the copyright text */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
  }
  
  @media (min-width: 576px) {
    .footer {
      text-align: left; /* Align text to the left on larger screens */
    }
  
    .footer .text-center {
      text-align: left; /* Ensure text is aligned to the left */
    }
  }