/* src/components/Navbar.css */
.navbar {
    background-color: #0ac9bf;
    padding: 10px;
  }

  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  
  .navbar li {
    margin: 0;
  }

  .navbar img {
    height: 70px; /* Set a fixed height for the logo */
    width: auto; /* Maintain aspect ratio */
    margin-right: 20px; /* Space between the logo and other navbar items */
  }
  
  .navbar a {
    color: #0ac9bf;
    text-decoration: none;
    font-weight: bold;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  